.box{
background-color: rgb(34, 142, 230);
bottom:0%;
}

.label-register{
float:center ;
color:white;
margin-bottom: 2.5%;
margin-top: 3.15%;
}

.input-register{
float:center;
width:80%;
border-radius: 25px;
border: none;
padding:5px;
}

.register-btn{
width:50%;
margin-top: 5%;
background-color: orange;
padding: 10px;
border-radius: 25px;
font-weight: bold;
border: none;
}

.register-back{
width:50%;
background-color: yellow;
padding: 10px;
border-radius: 25px;
text-decoration: none;
color: black;
font-weight: bold;
border: none;
}